.container {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 240px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 3px 1px black;
  transition: width 0.5s;
}

.opbtn {
  margin: 5px 0px 0px -12px;
  transition: width 0.5s;
  cursor: pointer;
  width: 240px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  background-color: white;
}

.opbtn:hover {
  color: red;
  background-color: black;
}

.oplg {
  margin: 15px 0px 10px 14px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  font-weight: 900;
  font-size: 20px;
}

.optx {
  display: block;
  font-weight: 900;
  font-size: 22px;
  position: absolute;
  margin: 7px 0px 10px 60px;
  padding: 0px 0px 0px 0px;
}

.hmbtn {
  width: 240px;
  height: 50px;
  background-color: white;
  margin: 0px 0px 0px -12px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s;
  border-radius: 10px;
  transition: 0.2s;
}

.hmbtn:hover {
  color: red;
  background-color: black;
}

.hmlg {
  position: absolute;
  margin: 15px 0px 0px 11px;
  font-size: 19px;
}

.hmtx {
  position: absolute;
  margin: 10px 0px 0px 60px;
  font-size: 20px;
}

.srch {
  width: 240px;
  height: 50px;
  margin: 0px 0px 0px -12px;
}

.srchlg {
  margin: 17px 0px 0px 13px;
  position: absolute;
  opacity: 0.6;
  transition: opacity 0.2s;
  font-size: 19px;
  cursor: pointer;
}

.srchlg:hover{
  color: red;
}

.srchinpt {
  margin: 11px 0px 0px 58px;
  padding-left: 5px;
  position: absolute;
  font-size: 16px;
  transition: 0.2s;
  border-radius: 17px;
  width: 160px;
  height: 28px;
}

.exerbtn {
  border-radius: 10px;
  width: 240px;
  height: 50px;
  opacity: 0.5;
  transition: opacity 0.2s;
  background-color: white;
  margin: 0px 0px 0px -12px;
  cursor: pointer;
  transition: 0.2s;
}

.exerbtn:hover {
  color: red;
  background-color: black;
}

.exerlg {
  font-size: 19px;
  margin: 16px 0px 0px 11px;
  position: absolute;
}

.exertx {
  font-size: 20px;
  margin: 10px 0px 0px 60px;
  position: absolute;
}

.rpsbtn {
  background-color: white;
  opacity: 0.5;
  transition: opacity 0.2s;
  border-radius: 10px;
  width: 240px;
  height: 50px;
  margin: 0px 0px 0px -12px;
  cursor: pointer;
}

.rpsbtn:hover {
  color: red;
  background-color: black;
}

.rpslg {
  position: absolute;
  font-size: 21px;
  margin: 15px 0px 0px 13px;
}

.rpstx {
  font-size: 20px;
  margin: 10px 0px 0px 60px;
  position: absolute;
}

.stgbtn {
  width: 240px;
  height: 50px;
  margin: 264px 0px 0px -12px;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.stgbtn:hover {
  color: red;
  background-color: black;
}

.stglg {
  font-size: 20px;
  margin: 16px 0px 0px 12px;
  position: absolute;
}

.stgtx {
  font-size: 20px;
  margin: 11px 0px 0px 60px;
  position: absolute;
}
